@font-face {
	font-family: "InputMono";
	src: local("InputMono"), url("./fonts/InputMono.ttf") format("truetype");
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	font-family: InputMono;
}

/* #root {
	min-width: 100vw;
	min-height: 100vh;
} */
