@font-face {
	font-family: "InputMono";
	src: local("InputMono"), url("./fonts/InputMono.ttf") format("truetype");
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: InputMono;
}

#root {
	margin-top: 50px;
	margin-bottom: 20px;
	min-width: 100%;
	height: 100%;
}
